<div class="row" id="headerColumns" >
  <div class="container" style="height:20%%;">
  <h1>REUTILIZA</h1>
    <div class="col-md-12 d-flex" style="text-align:center;">
      <div class="col-md-7">
        <p class="mt-5" style="width:100%">Es una plataforma para que puedas intercambiar artículos que ya no utilices dentro de los campus universitarios de la UTEM. Podrás darle una segunda oportunidad a estos productos y así contribuir a no seguir generando desechos.</p>
      </div>
      <div class="col-md-5 mt-4">
        <img class="" src="assets/images/Logo_sustenta.png" style="">
      </div>
    </div>
    <div class="col-md-12 d-flex mt-2" style="text-align:center;">
      <div class="col-md-7">
        <p class="mb-2" style="width:100%">Reutiliza Utem es un proyecto que contempla una de las tres reglas para reducir el impacto humano sobre el medio ambiente, llamada reutilizar. Proyecto solicitado por el Programa de sustentabilidad de la Universidad Tecnológica Metropolitana.</p>
      </div>
      <div class="col-md-5">
        <img class="" src="assets/images/logo_reutilza_utem.png" style="">
      </div>
    </div>
    <div class="col-md-12 d-flex " style="text-align:center;">
      <div class="col-md-7">
        <p class="mb-2" style="width:100%">Reutiliza es un sistema que contempla toda la comunidad Utem, estudiantes, profesores y funcionarios, con esto dando la facilidad de entrega del objeto por campus dentro de Universidad.</p>
      </div>
    </div>
    
  </div>
    
</div>