
<div class="container" style="height:20%;">
  <div class="row" id="headerColumns" >
    <h1>REUTILIZA</h1>
    <div class="col-md-12">
      <p>Es una plataforma que te permite intercambiar artículos que ya no necesitas dentro de los campus universitarios de la UTEM. Esta iniciativa te brinda la oportunidad de darle una segunda vida a estos productos, contribuyendo así a la reducción de residuos y al fomento de la sostenibilidad.</p>
    </div>
    <div class="col-md-12">
      <p>Reutiliza UTEM es un proyecto que se basa en una de las tres estrategias fundamentales para reducir el impacto ambiental causado por el ser humano: la reutilización. Este proyecto fue propuesto por el Programa de Sustentabilidad de la Universidad Tecnológica Metropolitana.</p>
    </div>
    <div class="col-md-12">
      <p>Es un sistema que abarca a toda la comunidad de la UTEM, incluyendo a estudiantes, profesores y funcionarios. Esto facilita la entrega de los objetos en los distintos campus de la universidad.</p>
    </div>
    <div class="col-md-6">
      <img class="" src="assets/images/Logo_sustenta.png">
      <img class="imagen1" src="assets/images/cna2022.png">
    </div>
    <div class="col-md-6">
      <img class="" src="assets/images/logo_reutilza_utem.png" >
      <img class="imagen2" src="assets/images/logo-excelencia.png" >
    </div>
  </div>
</div>

<!-- video de reutiliza -->
<div class="text-center" style="margin-top: 30px;">
  <h2 class="titulo-video " >Reduce, Reutiliza y Recicla</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0LYjua2-KP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
