<div class="container">
  <h2>CRUD de Avisos</h2>

  <!-- Formulario para agregar/actualizar un aviso -->
  <form (submit)="onSubmit()">
      <div class="form-group">
          <label for="first_name">Nombre</label>
          <input type="text" class="form-control" id="first_name" [(ngModel)]="aviso.first_name" name="first_name">
      </div>
      <div class="form-group">
          <label for="last_name">Apellido</label>
          <input type="text" class="form-control" id="last_name" [(ngModel)]="aviso.last_name" name="last_name">
      </div>
      <div class="form-group">
          <label for="contact_number">Número de Contacto</label>
          <input type="text" class="form-control" id="contact_number" [(ngModel)]="aviso.contact_number" name="contact_number">
      </div>
      <div class="form-group">
          <label for="sede">Sede</label>
          <input type="text" class="form-control" id="sede" [(ngModel)]="aviso.sede" name="sede">
      </div>
      <div class="form-group">
          <label for="item_description">Descripción del Artículo</label>
          <textarea class="form-control" id="item_description" [(ngModel)]="aviso.item_description" name="item_description"></textarea>
      </div>
      <div class="form-group">
          <label for="item_image">URL de la Imagen del Artículo</label>
          <input type="url" class="form-control" id="item_image" [(ngModel)]="aviso.item_image" name="item_image">
      </div>

      <button type="submit" class="btn btn-primary">Guardar</button>
  </form>

<!-- Tabla para mostrar los avisos -->
  <table class="table mt-5">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Número de Contacto</th>
              <th>Sede</th>
              <th>Descripción del Artículo</th>
              <th>URL de la Imagen</th>
              <th>Acciones</th>
          </tr>
      </thead>
       <tbody>
          <tr *ngFor="let aviso of avisos">
              <td>{{ aviso.id }}</td>
              <td>{{ aviso.first_name }}</td>
              <td>{{ aviso.last_name }}</td>
              <td>{{ aviso.contact_number }}</td>
              <td>{{ aviso.sede }}</td>
              <td>{{ aviso.item_description }}</td>
              <td>{{ aviso.item_image }}</td>
              <td>
                  <button (click)="onEdit(aviso)" class="btn btn-warning">Editar</button>
                  <button (click)="onDelete(aviso.id)" class="btn btn-danger">Eliminar</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
