

    <div class="container" >
        <div class="row" id="headerColumns" >
    <h1 class="subtitulo">Preguntas frecuentes</h1>
    <!--acordeon con preguntas-->
    <!--primera pregunta-->
    
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              <h1 class="mb-0"> ¿Los articulos tienen algun costo asociado? </h1> 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
            <div class="accordion-body text-center">
             <h3> <strong>No, en absoluto.</strong> Todos los artículos presentes en esta plataforma son completamente gratuitos. Están integrados en un programa de sostenibilidad impulsado por la colaboración de la comunidad UTEM en su conjunto. Por lo tanto, esta iniciativa no persigue fines lucrativos, sino que busca fomentar el apoyo mutuo entre los miembros de la comunidad.
            </h3>
            </div>
          </div>
        </div>
     <!--segunda pregunta-->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              <h1 class="mb-0"> ¿Metodos de envio y entrega? </h1> 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <h3> <strong>Las entregas se efectúan bajo responsabilidad de las partes involucradas.</strong> Reutiliza brinda la alternativa de seleccionar un medio de comunicación de preferencia para coordinar el encuentro y la entrega entre los interesados. Además, se simplifica la entrega entre diferentes campus, permitiendo la búsqueda de productos específicos en cada campus.
              </h3>
            </div>
          </div>
        </div>
        <!--tercera pregunta-->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <h1 class="mb-0"> ¿Que consideraciones incluye la evaluación? </h1> 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              <h3> <strong>Una vez se ha completado la entrega del producto,</strong>tanto el ofertante como el demandante tendrán la oportunidad de realizar evaluaciones. Estas evaluaciones abarcan aspectos como la calidad, la rapidez y la facilidad tanto en la entrega como en la recepción del artículo en cuestión.
              </h3>
            </div>
          </div>
        </div>
        <!--cuarta pregunta-->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefour" aria-expanded="false" aria-controls="panelsStayOpen-collapsefour">
              <h1 class="mb-0"> ¿Por que se realizan evaluaciones en Reutiliza UTEM? </h1> 
            </button>
          </h2>
          <div id="panelsStayOpen-collapsefour" class="accordion-collapse collapse">
            <div class="accordion-body">
              <h3> <strong>La evaluación refleja el comportamiento del usuario a través de sus productos.</strong>Cada vez que observes los detalles de un artículo en particular, verás la evaluación proporcionada por el ofertante en el lado derecho, junto con las puntuaciones y los comentarios correspondientes. Aquellos usuarios que reciban evaluaciones negativas de forma recurrente serán desactivados de Reutiliza.
              </h3>
            </div>
          </div>
        </div>
         <!--quinta pregunta-->
         <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefive" aria-expanded="false" aria-controls="panelsStayOpen-collapsefive">
              <h1 class="mb-0"> ¿compromiso de confidencialidad? </h1> 
            </button>
          </h2>
          <div id="panelsStayOpen-collapsefive" class="accordion-collapse collapse">
            <div class="accordion-body">
              <h3> <strong>Reutiliza UTEM está comprometido a mantener los datos y/o artículos ingresados en esta plataforma bajo los más altos estándares de confidencialidad y seguridad que nuestra solemne institución puede ofrecer.</strong>Así que, despreocúpate, busca artículos de calidad mientras navegas por nuestra plataforma.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
