<div class="row" id="headerColumns" >
  <div class="container" style="height:80%;">
  <h1>Preguntas frecuentes</h1>
    <div class="col-md-12 pt-5" style="text-align:center;">
      <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo1">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                aria-expanded="false" aria-controls="collapseTwo1">
                <h5 class="mb-0">
                ¿Estos productos son gratis? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
            </div>
            <!-- Card body -->
            <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
            data-parent="#accordionEx1">
            <div class="card-body">
                Si, los productos son totalmente gratis, ya que el objetivo principal de Reutiliza es lograr reducir la contaminación producida por el hombre, con esto, todo objeto utíl que se encuentre estancado dentro de tu hogar, podrás darle una segunda oportunidad y alargar su vida utíl. 
            </div>
            </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
                aria-expanded="false" aria-controls="collapseTwo21">
                <h5 class="mb-0">
                ¿Cómo se coordinan las entregas? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
            </div>
            <!-- Card body -->
            <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
            data-parent="#accordionEx1">
            <div class="card-body">
                Las entregas se realizan por cuenta de los involucrados, Reutiliza da la opción de elegir un medio de comunicación como preferencia para que los interesados lleven a cabo el reencuentro y la entrega.
                Tambien se facilita la entrega entre campus, dando la opción de buscar productos por campus.
            </div>
            </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                aria-expanded="false" aria-controls="collapseThree31">
                <h5 class="mb-0">
                ¿En qué consiste la evaluación? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
            </div>
            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
            data-parent="#accordionEx1">
            <div class="card-body">
                Una vez se finaliza la entrega del producto, se podran evaluar ambos involucrados, el ofertante y el demandante, evaluando calidad, velocidad y facilidad de entrega y recepción. 
            </div>
            </div>
        </div>
        <!-- Accordion card -->
    <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingFour41">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseFour41"
                aria-expanded="false" aria-controls="collapseFour41">
                <h5 class="mb-0">
                ¿Por qué se evalua en Reutiliza? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
            </div>
            <!-- Card body -->
            <div id="collapseFour41" class="collapse" role="tabpanel" aria-labelledby="headingFour41"
            data-parent="#accordionEx1">
            <div class="card-body">
                La evaluación refleja el comportamiento del usuario a través de sus productos. Cada vez que veas el detalle de un producto en particular, este mostrará la evaluación del ofertante al costado derecho con los puntajes y comentarios involucrados.
                Los usuarios que sean mal evaluados de una manera reiterativa, serán desactivados de Reutiliza.
            </div>
            </div>
        </div>
        <!-- Accordion card -->
        </div>
        <!-- Accordion wrapper -->
    </div>       
  </div>
    
</div>