



<header>

 
    <nav class="navbar text-center sticky-top  bg-success p-2 text-dark bg-opacity-10 "    >
  
    <!-- Navbar content -->



   


 
    <div class="col-12  col-sm-6  col-md-5 col-lg-4 ">
         <!-- Logo de reutilizasustentabilidad utem y su codigo-->
      <link rel="stylesheet" href="header.component.css" >
      <a href="https://sustentabilidad.utem.cl/" class="logo ">
        <img src="assets/images/Logo_sustenta_no_Fondo.png" class="img">
      </a>
    </div>

   <!-- Logo de reutiliza utem y su codigo-->
    <div class="col-12  col-sm-6  col-md-5 col-lg-4 ">
      <link rel="stylesheet" href="header.component.css" >
  <a href="#" class="logo ">
    <img src="assets/images/logo_reutilza_utem.png" class="img ">
  </a>
    </div>

 
    
   
    

 <!-- boton del menu primario y su codigo-->
    <div class="col-12  col-sm-12  col-md-2 col-lg-4 ">
    
      <button class="navbar-toggler float-center mr-2 mt-2 btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" ria-label="Toggle navigation" ><span class="navbar-toggler-icon"></span></button> 

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title float-center " id="offcanvasNavbarLabel" ><h1>MENU</h1></h5>
    
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
  
    <div class="offcanvas-body">
      <!-- Contenido del offcanvas -->
      
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <!-- botones del menu -->
      <div class="d-grid gap-2 ">
   
         <!-- barra de busqueda-->
<div class="col">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
          <button class="btn btn-outline-success" type="submit">Busqueda</button>
        </form>
      </div>
    </nav>

  </div>
  
      <button type="button" class="btn btn btn-success float-right mr-2 mt-2 " routerLink="/iniciar-sesion">Iniciar sesión</button>
 
      <button type="button" class="btn btn btn-success float-right mr-2 mt-2 " routerLink="/registrarse">Registrarse</button>
  
      <button type="button" class="btn btn btn-success float-right mr-2 mt-2 " routerLink="/preguntas-frecuentes">Preguntas frecuentes</button>
   
      <button type="button" class="btn btn btn-success float-right mr-2 mt-2 " routerLink="/reduce-reutiliza-recicla">¿Quienes somos?</button>
   
      <button type="button" class="btn btn btn-success float-right mr-2 mt-2 " routerLink="/como-funciona">¿Cómo funciona?</button>
      
      <button type="button" class="btn btn btn-success float-right mr-2 mt-2 " routerLink="/reglas-de-reutiliza">Reglas de Reutiliza</button>
  
    </div>
  </ul>
    </div>
  </div>
    </div>
  
 
 




</nav>


</header>


