

    <app-header></app-header>
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 "  class="h1" >
    <p class="display text-uppercase text-success" >Reutiliza con UTEM </p>
  </div>
  </div>


</div>

    <router-outlet></router-outlet>
    
<body>



  
  <!-- imagen de fondo-->
  <div class="container-fluid" id= "background" style="height:900px;background-image:url(../../../../../assets/images/fondoReutiliza.png);background-position: bottom;">
  
    <div class="background-position:bottom;">
    <app-lista-avisos></app-lista-avisos>
  </div>
  

</div>


</body>

<app-footer></app-footer>


  

