<div class="row" id="headerColumns" >
    <div class="container" style="height:100%;">
    <h1>¿Como funciona?</h1>
      <div class="col-md-12 d-flex" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <i class="fa fa-check mt-5" aria-hidden="true"></i><p class="mt-5" style="width:90%">App Reutiliza Utem es una aplicación web destinada para toda la institución Utem, solo debes registrarte y podras acceder y visualizar todo el contenido de la web.</p>
        </div>
      </div>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex" >
          <i class="fa fa-check" aria-hidden="true"></i><p class="mb-2" style="width:90%">Dentro podras navegar y conocer los objetos que estan a disposición totalmente gratuitos, con el fin de reducir la contaminación producida por el hombe.</p>
        </div>
      </div>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <i class="fa fa-check" aria-hidden="true"></i><p class="mb-2" style="width:90%">Una vez decidas obtener un artículo, podras reservar y llevar a cabo el reencuentro con el ofertante, a traves de mail, telefono o por whatsapp.</p>
        </div>
      </div>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <i class="fa fa-check" aria-hidden="true"></i><p class="mb-2" style="width:90%">Cuando el proceso de entrega haya sido finalizado con exito, podrás evaluar al ofertante y a su vez el te evaluará a ti, esta evaluación será publica.</p>
        </div>
      </div>       
    </div>
      
  </div>
