<div class="row" id="headerColumns" >
    <div class="container" style="height:100%;">
    <h1>¿Como funciona?</h1>
      <div class="col-md-12 d-flex" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <i class="fa-solid fa-star mt-5" aria-hidden="true"></i>&nbsp;<p class="mt-5" style="width:90%">  Reutiliza Utem es una plataforma web destinada a toda la comunidad Utem, con solo registrarte podras acceder a increibles contenidos y visualizar todo el contenido que nuestra plataforma tiene para ustedes.</p>
        </div>
      </div>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex" >
          <i class="fa-solid fa-star" aria-hidden="true"></i>&nbsp;<p class="mb-2" style="width:90%">  Una vez registrado podras acceder y conocer todos los articulos publicados en nuestra plataforma para tener a tu alcance un mundo de articulos , cuyo  fin es apoyar la reutilización de nuestros recursos y disminuir la contaminación.</p>
        </div>
      </div>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex">
         <i class="fa-solid fa-star" aria-hidden="true"></i>&nbsp;<p class="mb-2" style="width:90%">  Cuando decidas obtener un artículo, podras reservar y llevar a cabo el encuentro con el ofertante, a traves de email, telefono o vía whatsapp.</p>
        </div>
      </div>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <i class="fa-solid fa-star" aria-hidden="true"></i>&nbsp;<p class="mb-2" style="width:90%">  Cuando el proceso de entrega haya finalizado , podrás evaluar al ofertante y a su vez el te podra evaluarte a ti, esta evaluación solo será publica para la comunidad de Reutiliza UTEM.</p>
        </div>
      </div>       
    </div>
      
  </div>
