<div class="container" > 
    <div class="titulo">
        <h2>Si no lo usas REUTILIZA</h2>
    </div>
        <div class="row">
            <div class="col">
                <button type="submit" [routerLink]="['/como-funciona']"><img src="/assets/images/comofunciona.png" alt="Como funciona" />¿Cómo funciona?</button>
            </div>
            <div class="col">
                <button type="submit"><img src="/assets/images/busqueda.png" alt="Busqueda" />Búsqueda avanzada</button>
            </div>
            <div class="col">
                <button type="submit" [routerLink]="['/publica-aviso']" ><img src="/assets/images/publica.png" alt="Publica" />Publica aquí</button>
            </div>
            <div class="col">
                <button type="submit" [routerLink]="['/preguntas-frecuentes']" ><img src="/assets/images/preguntasfrecuentes.png" alt="Preguntas frecuentes" />Preguntas frecuentes</button>
            </div>  
            <div class="col">
                <button type="submit"><img src="/assets/images/evalua.png" alt="Evalua" />Evalúa</button>
            </div>
            <div class="col">
                <button type="submit" [routerLink]="['/quienes-somos']" ><img src="/assets/images/3r.png" alt="3 R" />Reduce, reutiliza, recicla</button>
            </div>
  </div>
</div>

