<div class="row" id="headerColumns" >
    <div class="container" style="height:100%;">
    <h1>Reglas de Reutiliza</h1>
    
      <div class="col-md-12 d-flex" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <img src="assets/images/libro-reglas.png" class="imagen"  alt="imagen">&nbsp;<p  style="width:90%"> En caso de publicar artículos que no cumplan con los estándares de control del programa de sustentabilidad SISEI, estos serán retirados de la plataforma y, además, los responsables podrían enfrentar una suspensión permanente de su acceso a la plataforma. Esta medida se toma para garantizar que Reutiliza UTEM se mantenga como un espacio de intercambio de artículos apropiados y en línea con los principios de sustentabilidad que promovemos.</p>
        </div>
      </div>
      <br>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex" >
          <img src="assets/images/libro-reglas.png" class="imagen"  alt="imagen">&nbsp;<p  style="width:90%">Por favor, limite sus publicaciones a un artículo por aviso para evitar posibles complicaciones durante el proceso de intercambio. Esta medida ayuda a mantener la claridad y eficiencia en la plataforma, garantizando una experiencia óptima para todos los usuarios. </p>
        </div>
      </div>
      <br>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <img src="assets/images/libro-reglas.png" class="imagen"  alt="imagen">&nbsp;<p  style="width:90%"> La ubicación especificada en el aviso tiene la intención de servir como una referencia conveniente para un punto de encuentro entre ambas partes. No obstante, los usuarios son libres de acordar una ubicación diferente que les resulte más cómoda y adecuada para llevar a cabo su intercambio. Siempre se recomienda que estas ubicaciones alternativas estén dentro de las sedes de la UTEM para garantizar la seguridad y comodidad de ambas partes involucradas. </p>
        </div>
      </div>
      <br>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <img src="assets/images/libro-reglas.png" class="imagen"  alt="imagen">&nbsp;<p  style="width:90%">Por favor, te solicitamos que publiques solamente un aviso por cada artículo. Esto nos permite llevar un mejor control y administración de los artículos que actualmente se están intercambiando en la plataforma. Agradecemos tu colaboración para mantener un entorno ordenado y eficiente para todos los usuarios.  </p>
        </div>
      </div>  
      <br>
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <img src="assets/images/libro-reglas.png" class="imagen"  alt="imagen">&nbsp;<p  style="width:90%">Los usuarios podrán observar y analizar tus reseñas en todo momento, por lo que te aconsejamos mantener una buena conducta mientras utilizas nuestra plataforma. Tu reputación y la confianza de otros usuarios en ti son fundamentales para crear un entorno positivo y colaborativo en Reutiliza UTEM. </p>
        </div>
      </div> 
      <br>  
      <div class="col-md-12 d-flex mt-2" style="text-align:center;">
        <div class="col-md-11 d-flex">
          <img src="assets/images/libro-reglas.png" class="imagen"  alt="imagen">&nbsp;<p  style="width:90%">
            La comisión de faltas a la conducta, junto con reiteradas reseñas negativas, significarán una suspensión de la plataforma de Reutiliza. Si consideras que esta decisión no es justa o deseas apelarla, puedes enviar un correo al encargado directo de la plataforma. Estamos comprometidos con mantener un ambiente seguro y respetuoso para todos los usuarios, por lo que tomaremos las medidas necesarias en caso de incumplimiento de las normas establecidas. </p>
        </div>
      </div>  
      <br>      
    </div>

  </div>

